#home{
    display: flex;
    padding: 40px 10%;
    
}
nav{
    text-align: center;
}
nav a{
    padding-inline: 2%;
    text-decoration: none;
    color: rgba(0,163,172,255);
    font-size: 30px;

}
#text-home{
width: 60vw;
}
#text-name{
    color: rgba(0,163,172,255);
}
#img-home{
    width: 40vw;
    height: 60vh;
}

#img-home > img{
    width: 40vw;
    padding-top: 10%;
}
#btn-main{
    display: flex;
    padding: 25%;
}
.btn{
    border-radius: 10px;
    padding: 15px 60px;
    background-color: rgba(0,163,172,255);
    color: rgb(253, 252, 252);
    border: none;
    text-decoration: none;
    margin-top: 10%;
}
#home-text{
    font-size: 50px;
}
#text-p{
    font-size: 20px;
}
#About{
    background-color: black;
    color: white;
    
}
#about{
    color: white;
    font-size: 50px;
    text-align: center;
}
#happy{
    float: left;
    font-size: xx-large;
}
#jamo{
    font-size: xx-large;
    color: #ac7000;
}
#About-p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    color: white;
    font-size: large;
}
#Projects{
    background-color: black;
    color: white;
}
.service{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.service>div{
    width: 300px;
    margin: 5px;
    padding: 20px;
    line-height: 30px; 
    border-radius: 10px;
    
}
.service2{
    background-color: #00a792;
    color: white;
}
.service1{
background-color: #ac7000;

}
.service3{
    background-color: #ac7000;
}
#contact h1{
    font-size: 50px;
    text-align: center;
}